

$grey: #323132;
$pink: #ec008b;
$lightpink: #FAA8C3; 
@mixin font {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	@include font;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

.grey {
	background-color: $grey;
}

.forms {
	padding: 50px 15px 50px 15px;
	text-align:center;
}

.question {
	text-transform: uppercase;
	color: #fff;
	font-size:48px;
	padding: 50px 0px 0px 0px;
}

.field {
	@include font;
	width: 75%;
	font-size: 36px;
	color: $pink;
	text-align: right;
}

.field::-webkit-input-placeholder { /* WebKit browsers */ color: $lightpink; font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif"; font-style:italic;  }
.field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: $lightpink; font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif"; font-style:italic; }
.field::-moz-placeholder { /* Mozilla Firefox 19+ */ color: $lightpink; font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif"; font-style:italic; }
.field:-ms-input-placeholder { /* Internet Explorer 10+ */ color: $lightpink; font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif"; font-style:italic; }

.field2 {
	margin-bottom:70px;
}

.btn-cont {
	background-color: #fff;
}

.button {
	color: #fff;
	background-color: $pink;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 48px;
	border: 12px solid #fff;
	padding: 25px 25px 25px 25px;
	width: 210px;
	margin:0px 0px 0px 50%;
	font-weight: bold;
}

.button:hover{
	background-color:#E00286;
}

.response-container {
	margin: auto;
	width: 90%;
	height: 190px;
}

.response {
	color: $grey;
	text-transform:uppercase;
	text-align:center;
	font-size:48px;
	padding: 50px 15px 15px 15px	
	
}
.border {
	border: 3px solid $pink; 
}

footer {
	margin: 40px 0px 0px 0px;
	padding-bottom:40px;
}

ul {
	list-style-type:none;
}

.question-mark {
	width:25%;
	display:inline-block;
	float:left;
	color: $grey;
	font-weight: bold;
	font-size: 24px;
	text-align: left;
}

.question-mark:hover {
	color: $pink;
}

.copyright {
	width:50%;
	display:inline-block;
	float:left;
	color: #ABA8AB;
}

.social {
	width:25%;
	display:inline-block;
	float:left;
}

.social-buttons {
	margin-right:40px;
	float:right;
}
