/* Basic resets */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  margin: 0px 0px 0px 0px;
  text-decoration: none; }

.grey {
  background-color: #323132; }

.forms {
  padding: 50px 15px 50px 15px;
  text-align: center; }

.question {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  padding: 50px 0px 0px 0px; }

.field {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  width: 75%;
  font-size: 36px;
  color: #ec008b;
  text-align: right; }

.field::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field2 {
  margin-bottom: 70px; }

.btn-cont {
  background-color: #fff; }

.button {
  color: #fff;
  background-color: #ec008b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  border: 12px solid #fff;
  padding: 20px 20px 20px 20px;
  width: 210px;
  margin: 0px 0px 0px 50%;
  font-weight: bold; }

.button:hover {
  background-color: #E00286; }

.response-container {
  height: 190px; }

.response {
  color: #323132;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  padding: 50px 15px 15px 15px; }

.border {
  border: 3px solid #ec008b; }

.question-mark {
  color: #323132;
  font-weight: bold;
  font-size: 24px; }

.question-mark:hover {
  color: #ec008b; }

.copyright {
  color: rgba(93, 91, 93, 0.69); }
