$grey: #323132;
$pink: #ec008b;
@mixin font {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
}

body {
	@include font;
	margin: 0px 0px 0px 0px;
}

.grey {
	background-color: $grey;
}

.forms {
	padding: 15px 15px 15px 15px;
	text-align:center;
}

.question {
	text-transform: uppercase;
	color: #fff;
	font-size:48px;
}

.field {
	@include font;
	width: 75%;
	font-size: 36px;
	color: $pink;
	text-align: right;
}

.btn-cont {
	background-color: #fff;
	height:100px;
}

.button {
	margin-left: 70%;
	color: #fff;
	background-color: $pink;
	text-decoration: none;
	font-size: 36px;
	border: 12px solid #fff;
	padding: 20px 20px 20px 20px;
	min-width: 210px;
}

.response {
	color: $grey;
	text-transform:uppercase;
	text-align:center;
}
