/* All styles imported here 

LIVERFUCKER 2013

*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  margin: 0px 0px 0px 0px;
  text-decoration: none; }

.grey {
  background-color: #323132; }

.forms {
  padding: 50px 15px 50px 15px;
  text-align: center; }

.question {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  padding: 50px 0px 0px 0px; }

.field {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  width: 75%;
  font-size: 36px;
  color: #ec008b;
  text-align: right; }

.field::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #faa8c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  font-style: italic; }

.field2 {
  margin-bottom: 70px; }

.btn-cont {
  background-color: #fff; }

.button {
  color: #fff;
  background-color: #ec008b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 48px;
  border: 12px solid #fff;
  padding: 25px 25px 25px 25px;
  width: 210px;
  margin: 0px 0px 0px 50%;
  font-weight: bold; }

.button:hover {
  background-color: #E00286; }

.response-container {
  margin: auto;
  width: 90%;
  height: 190px; }

.response {
  color: #323132;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  padding: 50px 15px 15px 15px; }

.border {
  border: 3px solid #ec008b; }

footer {
  margin: 40px 0px 0px 0px;
  padding-bottom: 40px; }

ul {
  list-style-type: none; }

.question-mark {
  width: 25%;
  display: inline-block;
  float: left;
  color: #323132;
  font-weight: bold;
  font-size: 24px;
  text-align: left; }

.question-mark:hover {
  color: #ec008b; }

.copyright {
  width: 50%;
  display: inline-block;
  float: left;
  color: #ABA8AB; }

.social {
  width: 25%;
  display: inline-block;
  float: left; }

.social-buttons {
  margin-right: 40px;
  float: right; }

.a-body {
  background-color: #323132; }

.a-section {
  max-width: 1000px;
  text-align: center;
  margin: 70px auto 30px auto; }

.a-p {
  letter-spacing: .05em;
  color: #fff;
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
  margin: 0px 0px 30px 0px;
  line-height: 1.4; }

.a-iframe {
  border: 9px solid #fff;
  margin: 0px 0px 30px 0px; }

.a-a {
  color: #fff;
  text-decoration: none; }

.a-a:hover {
  color: #ec008b; }

.home-link {
  margin-top: 65px; }
